.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  margin-bottom: 10px;
  display: block;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
}

input[type="text"],
select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="button"] {
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
}

.decision {
  font-weight: bold;
  color: red;
  margin-top: 20px;
}
